{XXX% extends "WHCrmBundle::layoutAdmin.html.twig" %XXX}

{XXX% block meta_title %XXX} {XXX{ parent() }XXX} - {{ entityName }} {XXX% endblock %XXX}

{XXX% block ariane %XXX}
    {XXX{ parent() }XXX}
    <li><a href="{XXX{ path('whad_app_immeuble') }XXX}">{{ entityName }}</a></li>
{XXX% endblock %XXX}

{XXX% block title_right %XXX}
    <a href="{XXX{ path('{{ routeCreate }}') }XXX}" class="btn btn-success pull-right" {XXX{ Smart.modal() }XXX}><i class="fa fa-plus"></i> Créer</a>
{XXX% endblock %XXX}

{XXX% block subtitle %XXX}{{ entityName }}{XXX% endblock %XXX}

{XXX% block center %XXX}

    <div class="container">

        <div class="well">

            <a href="{XXX{ path('{{ routeUpdate }}', {'{{ entityName }}' : {{ entityName }}.id}) }XXX}" class="btn btn-primary pull-right"  {XXX{ Smart.modal() }XXX}>modifier</a>

            <h1>Gestion de {{ entityName }} : {XXX{ {{ entityName }}.name }XXX}</h1>

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Inf 1 : </dt>
                        <dd></dd>
                        <dt>Inf 2 : </dt>
                        <dd></dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Inf 3 : </dt>
                        <dd></dd>
                        <dt>Inf 4 : </dt>
                        <dd></dd>
                    </dl>
                </div>
            </div>

        </div>


    </div>

{XXX% endblock %XXX}

{XXX% block javascript %XXX}
    {XXX{ parent() }XXX}
    <script type="application/javascript">

        var popupSuccess = function (data) {

            if($.isPlainObject(data)) {

                window.location = data.redirect;

            }else{

                $('#modal .modal-content').html(data);

            }


        }

    </script>
{XXX% endblock %XXX}