{% macro openBox(icone, title, buttons, color) %}

 {% if color is null %}
     {% set color = 'jarviswidget-color-blueDark' %}

 {% endif %}

<div class="jarviswidget {{ color }}"  data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">

    <header>
        <span class="widget-icon"> <i class="fa {{ icone }}"></i> </span>
        <h2> {{ title }} </h2>

        <div class="widget-toolbar">
            {% autoescape false %}{{ buttons }}{% endautoescape %}
        </div>

    </header>

    <div>

        {% endmacro %}

        {% macro closeBox() %}
    </div>
</div>
{% endmacro %}


{% macro openTable(icone, title, buttons) %}


<div class="jarviswidget jarviswidget-color-blueDark"  data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">

    <header>
        <span class="widget-icon"> <i class="fa {{ icone }}"></i> </span>
        <h2> {% autoescape false %}{{ title }}{% endautoescape %}</h2>

        <div class="widget-toolbar">
            {% autoescape false %}{{ buttons }}{% endautoescape %}
        </div>

    </header>

    <div>

        <div class="widget-body no-padding">

            <div class="table-responsive">

                <table class="table table-striped table-bordered table-hover">


                    {% endmacro %}

                    {% macro closeTable(pagination, entities) %}

                </table>
            </div>

            {% if pagination %}
                {% include('WHSmartAdminBundle:Elements:pagination.html.twig') %}
            {% endif %}
        </div>

    </div>

</div>
{% endmacro %}


{% macro openPopup(id, title) %}
    <!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    {{ title }}
                </h4>
            </div>
            <div class="modal-body no-padding">

                {% endmacro %}

                {% macro closePopup() %}

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endmacro %}

{% macro confirm(txt) %}
    onclick="javascript:if(!confirm('{{ txt }}')) return false;"
{% endmacro %}

{% macro modal(size) %}
    data-target="#modal-{% if size %}{{ size }}{% else %}mm{% endif %}" data-toggle="modal"
{% endmacro %}


{% macro modalSubmitBtn(form, opt = {}) %}

    {% set optDef = {'btnSuccess' : 'Creer', 'btnCancel' : 'Annuler'}  %}
    {% set opt = optDef|merge(opt) %}

    <div class="modal-footer">

        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
            {{ opt.btnCancel }}
        </button>

        {% if opt.btnSuccess %}
        <button type="submit" class="btn btn-primary" name="submited" value="">
            {{ opt.btnSuccess }}
        </button>
        {% endif %}

    </div>
{% endmacro %}

{% macro modalSubmitAjax(form) %}
    <script>

        var form = $(".modal form");

        $('.modal .select2').select2();

        $(form).submit(function() {

            var txt = $('button[type=submit]', $(form)).html();
            $('button[type=submit]', $(form)).attr('disabled', 'disabled');
            $('button[type=submit]', $(form)).html('please wait..');

            $.ajax({
                type    : $(this).attr('method'),
                url     : $(this).attr('action'),
                data    : $(this).serialize(), // serializes the form's elements.
                success: function(data)
                {

                    popupSuccess(data);

                    $('button[type=submit]', $(form)).attr('disabled', '');
                    $('button[type=submit]', $(form)).html(txt);


                }
            });

            return false; // avoid to execute the actual submit of the form.
        });
    </script>
{% endmacro %}


{% macro modalSuccess() %}
    <script type="text/javascript">

        {# Todo: error form #}

        var popupSuccess = function (data) {

            if ($.isPlainObject(data)) {

                window.location = data.redirect;

            } else {

                $('#modal .modal-content').html(data);

            }


        }

    </script>
{% endmacro %}

{% macro addEl(container, btnAdd) %}

    <script>

        $(document).ready(function() {

            addEl($('{{ container }}'), $('{{ btnAdd }}'), 'BlocNum');

            $(function() {

                $('#blocsForm').sortable({
                    start: function(event, ui) {
                        var start_pos = ui.item.index();
                        ui.item.data('start_pos', start_pos);
                    },
                    change: function(event, ui) {
                        var start_pos = ui.item.data('start_pos');
                        var index = ui.placeholder.index();
                        if (start_pos < index) {
                            $('.blocs-container .bloc:nth-child(' + index + ')').addClass('highlights');
                        } else {
                            $('.blocs-container .bloc:eq(' + (index + 1) + ')').addClass('highlights');
                        }
                    },
                    update: function(event, ui) {

                        $('{{ container }} .bloc').removeClass('highlights');


                        $('{{ container }} .bloc').each(function(index) {

                            $('input.pos', $(this)).val(index);

                        });

                    }
                });

            });

        });

    </script>

{% endmacro %}
